---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import LanguagePicker from "@/components/LanguagePicker.astro"

import cv from "../../cv_en.json"
const { basics, work, education, projects, skills } = cv
const { name, label, summary, image, url, profiles } = basics
---

<Layout 
  title={`${name} - ${label}`}
  description={summary}
  lang="en"
  image={image}
  url={url}
>
  <LanguagePicker currentLang="en" />
  <main>
    <Hero basics={basics} lang="en" />
    <About basics={basics} lang="en" />
    <Experience work={work} lang="en" />
    <Education education={education} lang="en" />
    <Skills skills={skills} lang="en" />
    <Projects projects={projects} lang="en" />
  </main>

  <KeyboardManager profiles={profiles} lang="en" />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
